.cart-item {
  width: 100%;
  padding: 10px;
  background: #f3f3f3;
  margin: 5px 0;
}

.cart-item h2 {
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 500;
  color: #6366f1;
}

.cart-item .price {
  font-size: 0.8rem;
}

.cart-item .price span {
  font-weight: 600;
  color: crimson;
}

.cart-item .row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-item .row .quantity {
  width: 50px;
  padding: 2;
  border: 1px solid #7779f1;
  outline: none;
  text-align: center;
  font-size: 0.8rem;
}

.cart-item .row button {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  background: #7779f1;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
}

.cart-item .row .decrese {
  margin-right: 10px;
}

.cart-item .row .increse {
  margin-left: 10px;
}
